/* Styling for the welcome page. */
.front-message {
    padding-top: 33vh;
    min-height: 93vh;
    background: url("../../img/bg-code.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDEDED;
}

.front-message > * {
    text-align: center;
    font-weight: normal;
}

@media only screen and (max-aspect-ratio: 3/4) {
    .front-message > h1 {
        font-size: 75px;
    }

    .front-message > h3 {
        font-size: 50px;
    }
}
