/* Stylesheet for projects page. */
.project-list-container {
    padding-top: 15vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-container {
    aspect-ratio: 1;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: #282B30;
    padding: 30px;
    border-radius: 10px;
}

.project-title {
    font-size: 30px;
}

.project-image {
    border-radius: 10px;
}

.project-description {
    font-size: 18px;
}
